:root {
    --primary-color: #045d1f;
    --secondary-color: #aeccb8;
    --background-color: #d7dbd9;
    --text-color: #000000;
    --light-text-color: #131212;
    --card-bg: #fff;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --border-radius: 12px;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    color: #0d0e0d;
    text-shadow: 0 0 20px #e1e1e1;
}

button {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

input,
textarea {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    /* Regular */
}

p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1.5rem 3rem;
    margin-left: 23%;
    margin-right: 2%;
    border: 2px solid #fff;
    border-radius: var(--border-radius);
}

.headerContainer {
    padding: 2rem 2.5rem;
    border-radius: var(--border-radius);
    /* margin-bottom: 0.5rem; */
    margin-top: 20px;
    text-align: center;
}

.headerContainer img {
    height: 50px;
    margin-right: 10px;
}

.headerContainer h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}

.btn {
    background-color: var(--primary-color);
    color: #fff;
    border: 2px solid var(--primary-color);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    transition: all .25s ease;
}

.btn:hover {
    background-color: #e1e1e1;
    color: #131413;
}

.cardContainer {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(2, minmax(220px, 1fr));
    gap: 1.8rem;

}

.card {
    width: 100%;
    height: auto;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 30px;
    margin-top: 20px;
    background: transparent;
    box-shadow: 0 3px 10px var(--shadow-color);
}

.cardContainer h3 {
    font-size: 2rem;
    color: #333;
    text-shadow: 0 0 20px #aeccb8;
    margin-left: 30px;
    margin-bottom: 10px;
}

.cardContainer p {
    font-size: 1.1rem;
    margin-left: 40px;
}

.btnContainer {
    margin-top: 30px;
    display: flex;
    gap: 0.5rem;
    margin-left: 30px;
}

.cropInputContainer {
    background: transparent;
    box-shadow: 0 3px 10px var(--shadow-color);
    border: 2px solid #fff;
    border-radius: 20px;
    margin-bottom: 30px;
    width: 30%;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    font-size: medium;
    margin-left: 35%;
}


.cropContainer h2 {
    margin-left: 35px;
    padding: 0;
}

.cropContainer input {
    margin-left: 70px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    background-color: #fff;
    height: 40px;
    text-align: center;
    display: block;
    margin-top: 10px;
    box-shadow: 0 5px 10px var(--shadow-color);
}

.cropContainer input:hover {
    border: 2px solid var(--background-color);
}

.cropInputContainer .btnContainer{
    margin-left: 40px;
}