.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); /* For Safari */
    transition: opacity 0.3s ease;
    opacity: 1;
    pointer-events: all;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #0d6f3a; /* your green theme */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: transparent;
    display: flex;
}



@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
