:root {
    --primary-color: #045d1f;
    --headline-color: #034f1a;
    --secondary-color: #aeccb8;
    --background-color: #d7dbd9;
    --text-color: #000000;
    --light-text-color: #131212;
    --card-bg: #fff;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --border-radius: 12px;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    color: #0d0e0d;
    text-shadow: 0 0 20px #e1e1e1;
}

button {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

input,
textarea {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    /* Regular */
}

p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.analytics-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1.5rem 3rem;
    margin-left: 25%;
    margin-right: 2%;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
}

.analytics-container h2 {
    color: var(--primary-color);
    font-weight: 700;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 30px;
}

.analytics-header p {
    text-align: center;
    font-size: 1.3rem;
    color: var(--text-color);
    
}

.analytics-filters {
    font-size: 1.1rem;
    position: relative;
    left: 27%;
    top: 30px;
    padding: 20px;
    background-color: var(--card-bg);
    width: fit-content;
    border-radius: 20px;
    border: 2px solid var(--headline-color);
}

.analytics-select {
    border: 2px solid #000;
    border-radius: 10px;
    cursor: pointer;
    width: 100px;
    height: 25px;
    margin: 10px;
    background: transparent;
    text-align: center;
    font-weight: 300;
}

.analytics-select:hover {
    border: 2px solid var(--headline-color);
}

.metric-card {
    background: var(--card-bg);
    border: 2px solid var(--headline-color);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.grid-container {
    grid-template-columns: repeat(3, minmax(220px, 1fr));
    gap: 1.8rem;
    display: grid;
    justify-content: space-around;
    width: 30%;
    margin-top: 5%;
    margin-left: 15%;
}


.analytics-chart h3 {
    margin-top: 5%;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
}

.graph {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}