body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pageWrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    min-width: 100vw;
}

main {
    flex: 1;
    padding: 20px;
    /* optional */
}

.services-footer {
    text-align: center;
    padding: 1rem;
    background-color: #d4edda;
    font-size: 0.9rem;
    color: #555;
    border-top: 1px solid #c3e6cb;
}